*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
ul, ol, dl{
    list-style-type: none;
}
a, a:hover{
    display: inline-block;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p{
    line-height: 1.4;
}

/* ====== Navbar Section Style Start ====== */
.navbar{
    padding: 30px 0;
}
.navbar-nav{
    column-gap: 75px;
}
.navbar-nav .nav-item .nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    transition: all linear 0.3s;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #B88E2F;
}
.nav_actions{
    display: flex;
    align-items: center;
    column-gap: 45px;
}
.nav_actions i{
    font-size: 22px;
    color: #000000;
    transition: all linear 0.3s;
}
.nav_actions i:hover{
    color: #B88E2F;
}
/* ====== Navbar Section Style End ====== */

/* ====== Banner Section Style Start ====== */
#banner {
    background: url('../images/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    min-height: 716px;
    display: flex;
    align-items: center;
}

.bannerContent {
    width: 643px;
    height: 443px;
    background: #FFF3E3;
    padding: 62px 43px 37px 39px;
    border-radius: 10px;
}

.bannerContent span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3px;
    color: #333333;
    margin-bottom: 4px;
}

.bannerContent h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 65px;
    color: #B88E2F;
}

.bannerContent p {
    width: 546px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    margin-top: 17px;
    margin-bottom: 46px;
}

.primaryBtn {
    background: #B88E2F;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 25px 72px;
    text-transform: uppercase;
    transition: all linear 0.3s;
}

.primaryBtn:hover {
    background: #FFFFFF;
    color: #B88E2F;
}
/* ====== Banner Section Style End ====== */